@import url("https://fonts.cdnfonts.com/css/sofia-pro");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #152081;
  --color-secondary: #4b2091;
  --color-blue-grey: #f6f6fa;
  --color-main-gradient: linear-gradient(273deg, #347fe0, #6f65e9 49%, #6931d4);
}

body {
  margin: 0;
  background: var(--color-main-gradient);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-gradient {
  background: var(--color-main-gradient);
}

.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
  position: relative;
  z-index: 10;
}
